body {
    font-family: sans-serif;
}

.title {
    background-color: white;
    border: none;
    font-size: 2rem;
}

.venues-list ul li {
    list-style: none;
}

.venues-list button {
    background-color: white;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0;
}

.title,
.venues-list button:hover {
    cursor: pointer;
  }

.check-date {
    background-color: rgb(203, 202, 206);
    padding-top: 1px;
}

.check-date input {
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}